*{margin: 0; box-sizing: border-box;}

body{
    background-color: #ffffff; margin: 0px;
    font-size: 16px; font-family: sans-serif; color: #333;
}

.black{background-color: #000000; width: 100%; height: 500px;}

.container{
    width: 100%; margin-right: auto; margin-left: auto;
    padding-right: 0.9375em; padding-left: 0.9375em;
}
.nav-container{height: 100px; display: flex;
    justify-content: space-between; align-items: center; color: #ffffff;
}
.logo{max-width: 10%;}

.container.content{
    transform: translateY(-400px); margin: 0 auto;
     
}
.product{
    height: 600px; width: 96%; padding: 0 10px; box-shadow: 0 60px 30px rgba(0, 0, 0, 0.1);
    display: flex; background-color: #fff; border-radius: 15px; margin: 0 auto;
}
.productContent{
    width: 100%; padding-left: 10px; padding-top: 70px; padding-bottom: 70px; margin: 0 auto;
    }
header h1{font-size: 30px; margin-bottom: 20px; text-align: center;}
.productContent .ui{
    font-size: 130px; font-weight: bolder; text-align: center;
    background: linear-gradient(180deg, rgba(154, 154, 154, 0), rgba(154, 154, 154, 0.5));
    background-size: 100%; -webkit-background-clip: text; background-clip: text; 
    -webkit-text-fill-color: transparent; opacity: 0.6;
}
.productContent .factory{font-size: 20px; color: #9b9a9a; 
    transform: translate(40px,-110px);
}
.productContent .learn{width: 80%; margin: 0 auto;}
.productContent .learn span{font-size: 18px; color: #333; line-height: 2.0;}

.productImg{display: none;}
.startButton button{
    width: 50%; background-color: #f46632; height: 50px; margin-top: 30px; margin-left: 80px;
    font-size: 18px; color: #ffffff; border-radius: 10px; border: hidden;
}

/* .about{
    height: 600px; width: 96%; padding: 0 10px; box-shadow: 0 60px 30px rgba(0, 0, 0, 0.1);
    display: flex; background-color: #fff; border-radius: 15px; margin: 0 auto;
} */



/*Media query*/

@media(max-width: 599px){
    
    .container{padding-left: 0px; padding-right: 0px;}
    .nav-container{padding-left: 25px; padding-right: 25px;}
    .nav-menu .nav-menu-item:not(:last-child){
        display: none;
    }

    .hamburger{
        width: 30px; height: 3px; background-color: #c2c1c1; position: relative;
        cursor: pointer;
    }
    .hamburger::before, .hamburger::after{
        content: ""; background-color: #c2c1c1; width: 30px; height: 3px;
        position: absolute; 
    }
    .hamburger::before{
        top: 10px; left: 0;
    }
    .hamburger::after{
        bottom: 10px; left: 0;
    }
    .rotateHumburger{
        width: 30px; background-color: #c2c1c1; transform: rotate(45deg);
        height: 2px; position: relative;
    }
    .rotateHumburger::after{
        content: ""; background-color: #c2c1c1; width: 30px; height: 2px;
        position: absolute; 
    }
    .rotateHumburger::after{
        transform: rotate(-90deg);
        left: 1px; bottom: 2px;
    }

    .productContent{
        width: 100%; padding-left: 40px; padding-top: 70px; padding-bottom: 70px; margin: 0 auto;
        }
    header h1{font-size: 30px; margin-bottom: 20px; text-align: center;}
    .productContent .ui{
        font-size: 130px; font-weight: bolder; text-align: center;
        background: linear-gradient(180deg, rgba(154, 154, 154, 0), rgba(154, 154, 154, 0.5));
        background-size: 100%; -webkit-background-clip: text; background-clip: text; 
        -webkit-text-fill-color: transparent; opacity: 0.6;
    }
    .productContent .factory{font-size: 20px; color: #9b9a9a; 
        transform: translate(80px, -110px); position: absolute; top: 270px;
    }
    .productContent .learn{width: 80%; margin: 0 auto;}
    .productContent .learn span{font-size: 18px; color: #333; line-height: 2.0;}
    
    .productImg{display: none;}
    .startButton button{
        width: 50%; background-color: #f46632; height: 50px; margin-top: 30px; margin-left: 80px;
        font-size: 18px; color: #ffffff; border-radius: 10px; border: hidden;
    }

}

@media(max-width: 600px){
    
    .container{padding-left: 0px; padding-right: 0px;}
    .nav-container{padding-left: 25px; padding-right: 25px;}
    .nav-menu .nav-menu-item:not(:last-child){
        display: block;
    }

    .hamburger{
        width: 30px; height: 3px; background-color: #c2c1c1; position: relative;
        cursor: pointer;
    }
    .hamburger::before, .hamburger::after{
        content: ""; background-color: #c2c1c1; width: 30px; height: 3px;
        position: absolute; 
    }
    .hamburger::before{
        top: 10px; left: 0;
    }
    .hamburger::after{
        bottom: 10px; left: 0;
    }
    .rotateHumburger{
        width: 30px; background-color: #c2c1c1; transform: rotate(45deg);
        height: 2px; position: relative;
    }
    .rotateHumburger::after{
        content: ""; background-color: #c2c1c1; width: 30px; height: 2px;
        position: absolute; 
    }
    .rotateHumburger::after{
        transform: rotate(-90deg);
        left: 1px; bottom: 2px;
    }

    .productContent{
        width: 100%; padding-left: 40px; padding-top: 70px; padding-bottom: 70px; margin: 0 auto;
        }
    header h1{font-size: 30px; margin-bottom: 20px; text-align: center;}
    .productContent .ui{
        font-size: 130px; font-weight: bolder; text-align: center;
        background: linear-gradient(180deg, rgba(154, 154, 154, 0), rgba(154, 154, 154, 0.5));
        background-size: 100%; -webkit-background-clip: text; background-clip: text; 
        -webkit-text-fill-color: transparent; opacity: 0.6;
    }
    .productContent .factory{font-size: 20px; color: #9b9a9a; 
        transform: translate(20px, -110px); position: absolute; top: 270px;
    }
    .productContent .learn{width: 80%; margin: 0 auto;}
    .productContent .learn span{font-size: 18px; color: #333; line-height: 2.0;}
    /* .productImg{width:50%; padding-left: 70px; padding-top: 100px;}
    .productImg img{width: 80%; height: auto;} */
    .productImg{display: none;}
    .startButton button{
        width: 50%; background-color: #f46632; height: 50px; margin-top: 30px; margin-left: 80px;
        font-size: 18px; color: #ffffff; border-radius: 10px; border: hidden;
    }

}

@media(max-width: 799px){
    
    .container{padding-left: 0px; padding-right: 0px;}
    .nav-container{padding-left: 25px; padding-right: 25px;}
    .nav-menu .nav-menu-item:not(:last-child){
        display: none;
    }

    .hamburger{
        width: 30px; height: 3px; background-color: #c2c1c1; position: relative;
        cursor: pointer;
    }
    .hamburger::before, .hamburger::after{
        content: ""; background-color: #c2c1c1; width: 30px; height: 3px;
        position: absolute; 
    }
    .hamburger::before{
        top: 10px; left: 0;
    }
    .hamburger::after{
        bottom: 10px; left: 0;
    }
    .rotateHumburger{
        width: 30px; background-color: #c2c1c1; transform: rotate(45deg);
        height: 2px; position: relative;
    }
    .rotateHumburger::after{
        content: ""; background-color: #c2c1c1; width: 30px; height: 2px;
        position: absolute; 
    }
    .rotateHumburger::after{
        transform: rotate(-90deg);
        left: 1px; bottom: 2px;
    }

    .productContent{
        width: 100%; padding-left: 40px; padding-top: 70px; padding-bottom: 70px; margin: 0 auto;
        }
    header h1{font-size: 1.875em; margin-bottom: 20px; text-align: center;}
    .productContent .ui{
        font-size: 8.125em; font-weight: bolder; text-align: center;
        background: linear-gradient(180deg, rgba(154, 154, 154, 0), rgba(154, 154, 154, 0.5));
        background-size: 100%; -webkit-background-clip: text; background-clip: text; 
        -webkit-text-fill-color: transparent; opacity: 0.6;
    }
    .productContent .factory{font-size: 1.25em; color: #9b9a9a; 
        transform: translate(173px,-110px); position: absolute; top: 270px;
    }
    .productContent .learn{width: 80%; margin: 0 auto;}
    .productContent .learn span{font-size: 18px; color: #333; line-height: 2.0;}
    
    .productImg{display: none;}
    .startButton button{
        width: 50%; background-color: #f46632; height: 50px; margin-top: 30px; margin-left: 80px;
        font-size: 18px; color: #ffffff; border-radius: 10px; border: hidden;
    }

    

} 
@media (min-width: 800px){
    .container{max-width: 100%;}

    .nav-container{width: 100%;}

    .nav-menu{
        width: 90%; height: 30px; color: #ffffff; display: flex; font-size: 16px;
        justify-content: space-between; align-items: center; margin-left: 10px;
    }
    .logo{width: 10%;}

    .nav-menu-item .btn{
        margin-right: 10px; height: 28px; color: #ffffff;
        width: 90%; background-color: #222222; text-align: center;
         border: #222222 thin solid; border-radius: 15px; cursor: pointer;
    }
    .logo img{width: 100%; height: auto}

    .nav-menu .nav-menu-item.hamburger{display: none;}

    .product{
        padding: 20px 0px; height: 600px; width: 100%;
    }
    header h1{font-size: 25px; margin-bottom: 10px;}
    .productImg{width: 55%; padding-left: 40px; padding-top: 70px; display: block;}
    .productImg img{width: 80%; height: auto;}
    .productContent{width: 45%; padding-left: 40px;}
    .productContent .learn{width: 90%;}
    .productContent .ui{font-size: 100px;}
    .productContent .factory{font-size: 20px; transform: translate(28px,-85px);}
    .startButton button{font-size: 16px;}

    .container.aboutUs{
        transform: translateY(-250px); margin: 0 auto;
        }
    .aboutFlex{
        display: flex; flex-wrap: wrap; height: 520px; width: 100%; padding: 20px; 
        box-shadow: 0 60px 30px rgba(0, 0, 0, 0.1); background-color: #ffffff; 
        border-radius: 15px; margin: 0 auto;
    }
    .about-grid{
         flex: 100%; max-width: 100%; display: flex;
         height: 300px; margin: 0 auto; position: relative;
    }
    
    .aboutBlack{
        width: 70%; height: 250px; background-color: #000000; border-radius: 20px;
         position: relative; padding-top:100px; padding-left: 200px;
    }
    .aboutBlack .playbutton{
        width: 20px; height: 20px; cursor: pointer;
        position: absolute; top: 210px; left: 420px;
    }
    .cardDiv{position: relative; flex: 65%; padding-left: 40px;}
    .cardDiv .blackLine{
        width: 30px; height: 1px; background-color: #000000; 
        position: absolute; left:499px; top: 180px;
    }
    .cardDiv .blackSquare{
        width: 20px; height: 20px; background-color: #000000; padding-left: 5px;
        position: absolute; left: 529px; top: 170px; padding-top: 5px;
    }
    .cardDiv .blackSquare .whiteCircle{
        width: 10px; height: 10px; border-radius: 50%; 
        background-color: #ffffff;
    }
    .cardDiv .blackCircle1{
        width: 180px; height: 150px; border-radius: 50%; margin-left: 130px;
        background-color: transparent; border: #000 thin solid; position: absolute; top: 150px
    }
    .cardDiv .blackCircle2{
        width: 80px; height: 100px; border-radius: 50%; margin-left: 100px;
        background-color: transparent; border: #000 thin solid; position: absolute; top: 190px
    }
    .about{flex: 35%; display: flex;}
    .socialAbout{
        flex: 70%; padding-top: 50px; font-size: 20px; 
        font-weight: bolder; color: #000000; position: relative;
    }
    .socialAbout::before{
        content: "About"; position: absolute; right: 90px; top: 10px;
        font-size: 80px; font-weight: bolder; color: #c1c1c1; opacity: 0.3;
    }

    .about .social{
        flex: 30%; font-size: 30px; padding-top: 16px;
        line-height: 50px;
    }
    .about-text{flex: 100%; max-width: 100%; line-height: 40px;}
    
    .container.userExperience{transform: translateY(-80px);}
    .experience{
        height: 550px; width: 100%; padding: 80px 20px; 
        box-shadow: 0 60px 30px 0 rgba(0, 0, 0, 0.1), 0 60px 30px 0 rgba(0, 0, 0, 0.1); 
        background-color: #ffffff; border-radius: 15px; margin: 0 auto;
    }
    .experience .course{
        margin: 0 auto; font-size: 30px; font-weight: bolder;
         position: relative; width: 30%;
        }
    .experience .course::before{
        content: "Experience";
        position: absolute; left: -130px; top: -42px;
        font-size: 80px; font-weight: bolder; color: #c1c1c1; opacity: 0.3;
    }

    .attendMenu{
        width: 70%; margin: 60px auto; text-align: center; 
        height: 50px; display: flex; overflow: hidden;
        border-radius: 15px; border: #000000 thin solid;
    }
    #after{padding-left: 20px; height: 50px; width: 33.3%; padding-top: 14px;}
    #during{
            border-left: #000000 thin solid; border-right: #000000 thin solid;
            height: 50px; width: 33%; padding-top: 14px;
        }
    #before{padding-right: 20px; height: 50px; width: 33.6%; 
        background-color: #000000; padding-top: 14px; color: #ffffff;
    }
    .courseText{display: flex; width: 70%; margin: 0 auto;}
    .courseImg{width: 30%;}
    .courseImg img{width: 200px; height: 200px;}
    .textCourse{width: 70%; line-height: 27px;}

    
    .sessions{width: 100%; padding-top: 70px; padding-bottom: 80px;}
    .sessionHeader{
        width: 60%; margin-left: auto; margin-right: auto;
        text-align: center; font-size: 30px; position: relative; margin-bottom: 150px;
    }
    .sessionHeader::before{
        content: "Sessions";
        position: absolute; left: 160px; top: -32px;
        font-size: 80px; font-weight: bolder; color: #c1c1c1; opacity: 0.3;
    }
    .sessionBorder{border-left: rgba(193, 193, 193, 0.2) solid 2px;}
    .personalSession{width: 100%; margin-top: 40px;}
    .personalSession .sessionHead{
        background-color: #cccccc; width: 97%; margin: 0 auto; display: flex;
        height: 30px; font-size: 18px; padding-top: 5px; border-radius: 5px; position: relative;
    }
    .sessionHead::before{
        content: ""; height: 28px; width: 3px;
         position: absolute; left: -18px; top: 1px;
        background-color:#000000;
    }
    .sessionHead .firstSession{width: 30%; padding-left: 90px;}
    .sessionHead .duration{
        display: flex; width: 70%; justify-content: space-between; padding-left: 20px;  
        padding-right: 150px;
    }
    .sessionBody{
        display: flex; width: 98%; margin-left: auto; margin-right: auto;
         margin-top: 20px; padding: 0 20px;
        }
    .sessionBody .userPerson{width: 30%; padding-left: 60px; padding-top: 10px;}
    .sessionBody .userbody{
        width: 70%; line-height: 30px; padding-left: 7px; padding-right: 20px;
    }

    .container.tutor{
        margin-top: 40px; width: 100%; border-radius: 10px; margin-bottom: 20px;
        box-shadow: 0 60px 30px 0 rgba(0, 0, 0, 0.1), 0 60px 30px 0 rgba(0, 0, 0, 0.1);
    }
    .masterHead{
        width: 60%; margin-left: auto; margin-right: auto;
        text-align: center; font-size: 30px; position: relative; margin-bottom: 150px;
    }
    .masterHead::before{
        content: "Masters"; font-size: 80px; font-weight: bolder; color: #c2c1c1; 
        opacity: 0.3; position: absolute; left: 175px; top: -33px;
    }

    .masters{
            display: flex; flex-wrap: wrap; width: 100%; padding: 0 20px 60px 20px;
            justify-content: space-between;
        }
        .holder{flex: 20%; max-width: 20%; padding: 30px}
        .holder img{max-width: 100%; height: auto;}
        figcaption span{font-size: 12px;}
    /* .masterPicture1{
        flex: 60%; max-width: 60%; display: flex; background-color: aqua; 
        justify-content: space-between; 
    }
    .masterPicture2{
        flex: 40%; max-width: 40%; display: flex; background-color: green; 
        justify-content: space-between;
    }
    .imgholder figure img{width: 100%; height: auto;} */


}

@media (min-width: 935px){
    .container{max-width: 900px;}
    
    .nav-menu{
        width: 90%; height: 30px; color: #201f1f; display: flex;
        justify-content: space-between; align-items: center; font-size: 16px; 
        margin-left: 40px;
    }
    .logo img{width: 100%; height: auto}
    
    .nav-menu-item .btn{margin-left: 70px; width: 150px;}
    .productContent{width: 50%; padding-left: 40px;}
    .productContent .learn{width: 90%;}
    .productImg{width:50%; padding-left: 50px; padding-top: 60px;}
    .productImg img{width: 90%; height: auto;}
    .productContent .factory{transform: translate(80px,-80px);}
    .product{width: 100%;}

    .container.aboutUs{
        transform: translateY(-200px);
        }
        .about-grid{height: 200px;}
        .cardDiv{
             transform: translateY(-150px);
        }

}

@media (min-width: 992px){
    .container{max-width: 960px;}
    .nav-menu{
        width: 90%; height: 30px; color: #ffffff; display: flex;
        justify-content: space-between; align-items: center; font-size: 16px;
    }
    .productImg img{width: 80%; height: auto;}
    .productContent .factory{transform: translate(85px,-85px);}

    
}
@media (min-width: 1200px){
    .container{max-width: 1140px;}
    .nav-menu{
        width: 85%; height: 30px; color: #ffffff; display: flex; 
        justify-content: space-between; align-items: center; font-size: 16px;
    }
    .productContent .factory{transform: translate(120px,-85px);}

}